/*body : 전체 폰트*/      
body{
    font-family: 'Gowun Dodum', sans-serif; 
 }
/*a 태그*/
 a{
    text-decoration : none;      
    color : black;
    font-weight: bold;
 }
/*상단 고정 바*/
/*검색 창*/
.search {
    position:fixed; 
    top:0; 
    left:0; 
    height:100px; 
    width:100vw;         
    background:rgb(21, 42, 63); 
    color: #fff; 
    z-index: 1;                                             
 }
/*페이지 좌측상단 로고*/
.logo{
    cursor:pointer;
    position:absolute;
    left:20px;
    margin-top: -29px;
 } 
/*버튼*/
 .btn{ 
    cursor:pointer;
    background-color: rgb(5, 7, 32);
    padding-left: 15px;
    padding-right:15px;
    padding-bottom:20px;
    padding-top:1px;
    font-size:20pt;
    height:20px;
    border-radius: 5px;
    margin-left:4px;
    margin-bottom:0px;
    margin-top:0px;
    border:  solid rgb(5, 7, 32);
    border-top:20px;
    text-align: center; /*search 클래스에서 text-align : center이던것을 없애고 개별로 주었습니다.*/
 }
 .btn:hover{
    background-color: #8085e9; 
 }     
/*지도*/
 #map {
    position:fixed; 
    width:100vw; 
    height:100vh; 
    z-index: -1;}
/*사이드바1 - 프로그램 검색 결과*/
 .sidebar {
    position:fixed; 
    top:100px; 
    left:0; 
    width:700px; 
    height: 86%;
    z-index: 0;
    border-radius: 0px 70px 70px 0px;
    border-style: solid;
    border-width: 12px;
    border-left:7px;
    border-color:rgb(21, 42, 63);
    background:rgba(231, 230, 237, 0.808); 
    text-align: center;
    transition:all .35s; /*★ ??*/
 }
/*"프로그램검색결과" 텍스트*/
#search_title{
    font-size:30px;
    height:30px;
    margin-top: 20px;
 }  
/*사이드바2 - 관심목록*/
 .interest_bar {
    position:fixed; 
    top:300px; 
    right:0px; 
    width:350px; 
    height:400px;
    border-radius: 10px;
    z-index: 0;
    border-color:gray;
    background:rgba(231, 230, 237, 0.808); 
    text-align: center;
    transition:all .35s; 
 }   
/*상단바 우측하단 체크박스*/
 .chk{ 
    position:absolute;
    overflow:hidden;
    top:100px;
    right:0px;
    width:450px;
    height:67px;
    z-index:10;
    font-family: 'Gowun Dodum', sans-serif;
    font-size:20px;
    border-radius: 10px;
    text-align:center;
    background-color:rgba(21, 42, 63,0.5);
 }   
 .chk, .chk *{
   font-weight: bold;  
   margin:0;padding:0;  
   color: #000000;
 }   
 .chk, .chk_checked *{ 
   color:ivory;
   border-right:1px solid #ffffff;
   margin:0 -1px;
 } 
 .chk li{
   list-style:none;
   float:left;
   width:90px;
   height:60px;
   cursor:pointer; 
 } 
 .chk label{
   color:ivory;  
   list-style:none;
   float:left;
   width:90px;
   height:60px;
   right:5px;
   top:2px;
   padding-top:5px; 
   padding-bottom:15px;
   cursor:pointer;
 } 
 .chk .ico_comm {
   display:block;
   margin:0 auto 2px;
   width:22px;
   height:26px; 
 }       
/*프로그램 추천 버튼*/
 .go_rcdpro{
    background-color: #75d6ff; 
    border : 3px solid rgb(21, 157, 241);
    width: 100px;
    height: 100px; 
    position: absolute;
    top: 80%; 
    right: 2%; 
    border-radius: 50%;
    opacity: 0.7;
    text-align: center;   
    font-size: 20px;
    font-weight: bold;
 }
 .go_rcdpro:hover{
    background-color: #93d5f1; 
 }   
/*인포윈도우*/
/* 인포 윈도우를 감싸는 클래스 */
 .wrap {		
   position: absolute;
   left: 70px;
   bottom: -40px;
   width: 288px;
   height: 132px;
   margin-left: -144px;
   text-align: left;
   overflow: hidden;
   font-size: 12px;
   font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;line-height: 1.5;
 }
 .wrap * {
   padding: 0;
   margin: 0;
 }
/*복지관 인포윈도우*/
 .wrap .iwinfo {
   width: 286px;
   height: 120px;
   border-radius: 5px;
   border-bottom: 2px solid #ccc;
   border-right: 1px solid #ccc;
   overflow: hidden;
   background: #fff;
 }
/* 타이틀이 작성되는 태그의 css  */
 .iwinfo .iwtitle {
   padding: 5px 0 0 10px;
   height: 30px;
   background: rgb(21, 42, 63);
   color:#eee ;
   border-bottom: 1px solid #ddd;
   font-size: 18px;
   font-weight: bold;
 }
/*iwbody에 그림자를 적용*/
 .wrap .iwinfo:nth-child(1) {
   border: 0;
   box-shadow: 20px 5px 10px #888;
 }
 .iwinfo .iwbody {
   position: relative;
   overflow: hidden;
 }
/*주차장, 키즈카페 인포윈도우*/
/* 추가적으로 인포 윈도우 추가 작성 */
 .wrap_s {
   position: absolute;
   left: 70px;
   bottom: -40px;
   width: 300px;
   height: wrap;
   margin-left: -144px;
   text-align: left;
   overflow: hidden;
   font-size: 12px;
   font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
   line-height: 1.5;}
 .wrap_s * {
 padding: 0;
 margin: 0;
  }
 .wrap_s .iwinfo_s {
   width: 300px;
   border-radius: 5px;
   border-bottom: 2px solid #ccc;
   border-right: 1px solid #ccc;
   overflow: hidden;
   background: #fff;
 }
 .wrap_s .iwinfo_s:nth-child(1) {
   border: 0;
   box-shadow: 20px 5px 10px #888;
 }
 .iwinfo_s .iwtitle_s {
   padding: 5px 0 0 10px;
   height: wrap;
   background: rgb(21, 42, 63);
   color:#eee ;
   border-bottom: 1px solid #ddd;
   font-size: 10px;
   font-weight: bold;
 }
 .iwinfo_s .iwtitle_s_k {
   padding: 5px 0 0 10px;
   height: wrap;
   background: rgb(255, 132, 0);
   color:#eee ;
   border-bottom: 1px solid #ddd;
   font-size: 15px;
   font-weight: bold;}
 .iwinfo_s .iwtitle_s_p {
   padding: 5px 0 0 10px;
   height: wrap;
   background: gray;
   color:#eee ;
   border-bottom: 1px solid #ddd;
   font-size: 15px;
   font-weight: bold;}
 .iwinfo_s .iwbody_s {
   position: relative;
   overflow: hidden; 
   height: wrap; 
   margin: 5px;}

/*애니메이션*/ 
/* 사이드바1 */
 /*사이드바 닫기 */
 #icon:checked + label + div {left:-650px;}                                   
 /*열기,닫기 아이콘*/
 #icon {
    cursor:pointer;
    display:none;}
 #icon + label {
    display:block; 
    margin:20px;
    top:127px;
    width:40px;
    height:72px;
    position:fixed;
    cursor:pointer;
    z-index: 2;}
 /*닫기 아이콘 ( < )*/
 #icon + label span {
    display:block;
    position:absolute;
    width:100%;
    height:5px;
    border-radius:40px;
    background:rgb(21, 42, 63);
    transition:all .35s;}
 #icon + label span:nth-child(1) {
    top:0;
    transform:translateX(-60%) rotate(-45deg)}
 #icon + label span:nth-child(2) {
    top:50%;
    transform:translateX(-60%) translateY(-100%)rotate(45deg);}
 /*열기 아이콘 ( > )*/
 #icon:checked + label span:nth-child(1) {
    top:0;
    transform:translateX(-60%) rotate(45deg)}
 #icon:checked + label span:nth-child(2) {
    top:50%;
    transform:translateX(-60%) translateY(-100%) rotate(-45deg);}

/* 사이드바2 */
 /*사이드바 닫기 */
 #icon_int:checked + label + div {
    top: -500px;
 }                                   
 /*열기,닫기 아이콘*/
 #icon_int {
    cursor:pointer;
    display:none;
 }
 #icon_int + label {
    display:block; 
    margin:17px;
    top:50px;
    left: 85%;
    width:30px;
    height:50px;
    position:fixed;
    cursor:pointer;
    z-index: 2;}